* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 300 $size "Poppins", sans-serif;
  background: $linear-background-gradient;
  color: $neutral-color-0;
}

button,
input,
select {
  outline: 0;

  &:focus {
    outline: none;
  }
}

ul,
li {
  list-style: none;
}

a {
  &:link,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: $secondary-color-40;
  border-radius: 10rem;
}

#app {
  width: 100vw;
  overflow: hidden;
}
