//colors
$primary-color-0: #ccd2e2;
$primary-color-10: #99a5c5;
$primary-color-20: #6679a7;
$primary-color-30: #334c8a;
$primary-color-40: #001f6d;
$primary-color-60: #001341;
$primary-color-70: #000c2c;

$secondary-color-0: #cde3e8;
$secondary-color-10: #9bc7d0;
$secondary-color-20: #69aab9;
$secondary-color-30: #378ea1;
$secondary-color-40: #05728a;
$secondary-color-50: #045b6e;
$secondary-color-60: #034453;
$secondary-color-70: #022e37;
$secondary-color-80: #01171c;

$neutral-color-0: #fff;
$neutral-color-10: #cccccc;
$neutral-color-20: #999999;
$neutral-color-30: #666666;
$neutral-color-40: #333333;

//font sizes
$size-larger: 3.6;
$size-large: 2.4rem;
$size-normal: 2rem;
$size: 1.8rem;
$size-small: 1.5rem;
