//colors
$primary-color-0: #ccd2e2;
$primary-color-10: #99a5c5;
$primary-color-20: #6679a7;
$primary-color-30: #334c8a;
$primary-color-40: #001f6d;
$primary-color-60: #001341;
$primary-color-70: #000c2c;

$secondary-color-0: #cde3e8;
$secondary-color-10: #9bc7d0;
$secondary-color-20: #69aab9;
$secondary-color-30: #378ea1;
$secondary-color-40: #05728a;
$secondary-color-50: #045b6e;
$secondary-color-60: #034453;
$secondary-color-70: #022e37;
$secondary-color-80: #01171c;

$neutral-color-0: #fff;
$neutral-color-10: #cccccc;
$neutral-color-20: #999999;
$neutral-color-30: #666666;
$neutral-color-40: #333333;

//font sizes
$size-larger: 3.6;
$size-large: 2.4rem;
$size-normal: 2rem;
$size: 1.8rem;
$size-small: 1.5rem;

$primary-font: "Poppins", sans-serif;

//gradients
$linear-background-gradient: linear-gradient(
  110deg,
  hsl(241.3, 100%, 18.04%) 0%,
  hsl(241.05, 99.2%, 18.19%) 8.6%,
  hsl(240.32, 97.03%, 18.6%) 16.2%,
  hsl(239.21, 96.3%, 19%) 23%,
  hsl(237.84, 96.67%, 19.39%) 29%,
  hsl(236.31, 97.07%, 19.85%) 34.6%,
  hsl(234.72, 97.5%, 20.36%) 39.8%,
  hsl(233.13, 97.94%, 20.9%) 44.9%,
  hsl(231.61, 98.35%, 21.45%) 49.9%,
  hsl(230.2, 98.74%, 21.99%) 55.2%,
  hsl(228.94, 99.1%, 22.5%) 60.7%,
  hsl(227.85, 99.4%, 22.96%) 66.9%,
  hsl(226.97, 99.65%, 23.35%) 73.7%,
  hsl(226.3, 99.84%, 23.65%) 81.3%,
  hsl(225.88, 99.96%, 23.85%) 90.1%,
  hsl(225.74, 100%, 23.92%) 100%
);
