.btn {
  padding: 1.8rem 4.5rem;
  cursor: pointer;
  border-radius: 10rem;

  &-search {
    font: 300 $size $primary-font;
    background: $secondary-color-30;
    color: $neutral-color-0;
    border: 0;
    text-transform: capitalize;
    margin-left: -15.5rem;

    @media only screen and (max-width: 23.4375em) {
      margin-left: -14rem;
    }
  }
}
