.search {
  &__box {
    font: 300 $size $primary-font;
    background-color: $secondary-color-10;
    color: $neutral-color-0;
    border: 0;
    width: 70%;
    padding: 2rem 5rem;
    border-radius: 10rem;

    @media only screen and (max-width: 77.5em) {
      width: 80%;
    }

    @media only screen and (max-width: 65.5em) {
      width: 90%;
    }

    @media only screen and (max-width: 59.375em) {
      width: 95%;
    }

    &::placeholder {
      color: currentColor;
    }
  }
}
