.cards {
  max-width: 100vw;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 10rem auto;
}

.card {
  position: relative;
  cursor: pointer;
  width: 45rem;
  height: 50rem;
  background-color: $secondary-color-40;
  color: $neutral-color-0;
  display: grid;
  grid-template-rows: 50% 50%;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: rgba($primary-color-60, 0.15) 0px 48px 100px 0px;
  transition: all 400ms ease;

  &:hover {
    transform: translateY(-1rem) scale(1.02);
  }

  &__source {
    font: 400 $size $primary-font;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: $neutral-color-0;
    color: $secondary-color-50;
    box-shadow: rgba($secondary-color-60, 0.1) 0px 10px 15px -3px,
      rgba($secondary-color-60, 0.05) 0px 4px 6px -2px;
    display: flex;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--container {
      width: 100%;
      height: 100%;
    }
  }

  &__details {
    display: grid;
    grid-template-rows: 50% 30% 20%;
    color: rgba($neutral-color-0, 0.8);

    &--title {
      max-height: 90%;
      overflow: hidden !important;
      display: block;
      white-space: normal;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      width: 90%;
      margin: 1rem auto;
      color: $neutral-color-0;
    }

    &--author {
      font: 300 $size-small $primary-font;
      width: 80%;
      display: flex;
      align-items: center;
      margin-left: 3rem;
    }

    &--date {
      font: 300 $size-small $primary-font;
      display: flex;
      justify-self: flex-end;
      padding: 0.5rem 2rem;
    }
  }
}
