.tabs {
  width: 70%;
  margin: 0 auto;
  @include flexeven;
  height: 10rem;
  cursor: pointer;
}

.tab {
  background: $secondary-color-20;
  color: $neutral-color-0;
  transition: all 350ms ease-in 100ms;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  text-transform: capitalize;
  border: 1px solid transparent;
  font: 300 $size-small $primary-font;

  &.active {
    border: 1px solid $secondary-color-20;
    background: $secondary-color-50;
    color: $neutral-color-0;
  }
}
